<style type="text/css">
  .well p, .well h4{
    margin-bottom: 0px;
  }
  .well ol,.well ul{
  	padding-left: 30px;
  }
  .well ol{
  	list-style: decimal outside;
  }
  .well ol > li{
  	margin-bottom: 10px;
  }
  .well ul{
  	list-style: lower-alpha outside;
  }
</style>

<h3>隱私權政策</h3>
<div class="well">
<p style="font-size: 1.1em;"><strong>本隱私權與個人資料保護政策僅適用於台灣地區。</strong></p><br/>
<p>嘎幸艾歐有限公司（ Conkwe 自由工作者平台 服務提供者，以下稱「本平台」）非常重視會員的個人隱私，且遵循保護隱私權及個人資料之相關法令規定。以下是本平台的隱私權與個人資料保護政策（以下稱「本政策」），將說明本平台會收集哪些個人資料與如何使用這些資料，並說明其他與您的隱私相關的重要事項。</p><br/>
<h4>一、個人資料的取得</h4><br/>
<ol>
	<li><p>當您註冊成為 Conkwe 會員時，會要求您輸入註冊帳號（電子郵件信箱）、稱呼。</p></li>
	<li><p>當您是透過 Facebook 或其他網站或服務（以下簡稱「第三方網站」）註冊成為 Conkwe 會員時，您同意本平台蒐集您的身分驗證資料以及在您的第三方網站帳號上可以看到或透過您的第三方網站帳號可以找到的其他資料，包括您的姓名、個人資料圖片、國家、電子郵箱地址、出生日期、性別、朋友的姓名及其個人資料圖片和交友網絡等。本平台可能需要驗證您的資料是否與該第三方網站上的資料一致及/或依照本政策利用該等資料。</p></li>
	<li>
		<p>當您在使用 Conkwe 服務時，本平台可能會收集到以下資料： </p>
		<ul>
			<li>您的使用資料，包括但不限於：使用歷史、查詢資料等；</li>
			<li>技術數據，例如：URL、IP 地址、瀏覽器類型、作業系統資料、語言及造訪時間等，並且，本平台使用 cookie 來提供各網頁上的功能；</li>
		</ul>
	</li>
	<li><p>本平台為提供您正確與快速的服務，當您使用 Conkwe 服務時，如: 帳戶異動申請、通話功能申請、意見回饋，會請您提供會員帳號資料或個人聯繫方式。</p>
	</li>
</ol><br/>
<h4>二、個人資料的使用</h4><br/>
<ol>
	<li>
		<p>本平台收集到的資料，將用於以下用途：</p>
		<ul>
			<li><p>您所提供的基本個人資料（如姓名），將做為會員身分判定的依據；您所提供的聯繫方式，將作為聯絡、行銷活動通知、提醒繳費、活動中獎通知、扣款通知、寄送發票或其他與 Conkwe 服務相關更新通知。</p></li>
			<li><p>您在 Conkwe 的使用資料及技術資料，將作為改進 Conkwe 服務或開發新服務用。</p></li>
			<!-- <li><p>本平台提供電子報服務以及不定期寄發活動通知。若您不希望收到任何電子報或活動通知，可隨時登入帳戶取消訂閱或通知服務。如您於設定上有任何問題，歡迎隨時與本平台客服聯繫。</p></li> -->
		</ul>
	</li>
	<li><p>本平台可能與第三方共用綜合性的非個人資料。「綜合性非個人資料」是指記錄有關用戶的並被分組收集的資料，這些資料在經過分組後不再反映或指向某個特定的可被辨識的使用者。</p></li>
	<li><p>上述資訊之處理與利用，可能由本平台之關係企業或其他合作夥伴進行，或於台灣外發生。除非有當地法律除外情況，本平台不會將這些資訊用做其他用途。本平台亦不會未經會員事先同意向第三者透露其個人資料，但因國家重大利益或為配合執法機關調查而根據法律而需要透露者則除外。</p></li>
</ol>
<br/>
<h4>三、個人資料的自主權</h4><br/>
<ol>
	<li><p>您本人可查詢、複製或申請變動屬於您個人資料範圍，若非本人或於本平台尚未查證您為本人前，您不得申請查詢、複製、請求閱覽或申請變動不屬於本帳號之個人資料及帳號服務。如非前述情況之申請者，必要時您將提供相關個人資料及書面資訊，使本平台可協助處理作業程序。</p></li>
	<li><p>您本人可要求停止利用或刪除屬於您的個人資料；但一經停止或刪除，您將無法繼續使用 Conkwe 的服務。</p></li>
	<li><p>於妨害國家重大利益、妨害公務機關執行法定職務、妨害蒐集機關或第三人重大利益時，本平台有權拒絕您主動提出變更、刪除或異動個人資料之請求。</p></li>	
</ol>
<br/>
<h4>四、個人資料的安全</h4><br/>
<ol>
	<li><p>為保護您的隱私，本平台提供必要之技術及措施保護個人資料。</p></li>	
	<li><p>您的個人資料、註冊帳號及密碼等，請您妥善保管，避免外洩。於個人或非個人電腦上使用本平台 Conkwe 服務時，必要時請登出或關閉軟體與瀏覽器視窗，以免您的資料遭人盜用。</p></li>	
	<li><p>您的付費資訊(含信用卡資料)，請您妥善保管，避免為他人之不法用途。</p></li>	
	<li><p>Conkwe 服務均有可能包含其他非本平台網站或網頁連結，若您個人同意該網站蒐集、處理或利用您的個人資料，本平台不負任何連帶責任。</p></li>	
	<li><p>您同意在 Conkwe 服務進行之消費時所留存的資料與事實相符，如嗣後發現你的個人資料遭他人非法使用或有任何異常時，應即時通知本平台。</p></li>	
	<li><p>您同意於使用 Conkwe 服務時，所提供及使用之資料皆為合法，並無侵害第三人權利、違反第三方協議或涉及任何違法行為。如因使用服務而致第三人損害，除本平台故意或重大過失外，本平台並不負擔相關賠償責任。</p></li>		
</ol>

<br/>
<h4>五、隱私權及個人資料保護政策的修訂與效力</h4><br/>
<ol>
	<li><p>本平台將不定時更新本政策，並遵循當地隱私權與個人資料保護相關法令，當本平台做出重大修改時，會於官方網站公布。</p></li>
	<li><p>本政策構成服務條款的一部分。如您不同意本政策之任何條款或修改變更之內容，請您立即停止使用服務。</p></li>
	<li><p>如果您對本平台的隱私權或個人資料保護政策有任何問題，請聯絡 <a href="mailto:service@support.conkwe.com">service@support.conkwe.com</a>。</p></li>
</ol>
</div>
