<h3>會員使用條款</h3>
<div class="well">
<p>感謝您選擇 Conkwe 服務。</p><br/>
<p>嘎幸艾歐有限公司（ Conkwe 自由工作者平台 服務提供者，以下稱「本公司」）依 Conkwe 會員使用條款（ 以下稱「本條款」）提供 Conkwe 服務；當您使用 Conkwe 服務時，即視為您已閱讀並同意接受本條款，其所有內容即成為您與本公司所訂協議的一部分。若您不同意這些條款，請勿使用本公司所提供的 Conkwe 服務。若您為未成年人，除您本人應遵守本條款規定外，並請您父母親（或監護人）同時確實閱讀、瞭解並同意遵守本條款之所有內容後，方得開始使用 Conkwe 服務。當您於本條款為修改或變更後仍繼續使用服務時，即表示您及您的父母親（或監護人）亦已確實閱讀、瞭解並同意遵守本條款之修改或變更。</p><br/>
<h4>使用者及服務</h4><br/>
<!-- <h4>一、使用者及服務使用</h4><br/> -->
<ol>
	<li>
		<p>定義</p>
		<ul>
			<li><p>使用者：係指無論是否完成會員註冊程序，所有同意本條款內容而使用 Conkwe 服務的使用者。</p></li>
			<li><p>會員：係指已完成會員註冊程序的使用者。</p></li>
			<li><p>會員帳號：係指經由本公司查核您所提供之個人資料並完成註冊程序後而給予您的一個線上帳號（連同密碼），會員需利用會員帳號及密碼登入並使用 Conkwe 服務。</p></li>
			<li><p>付款人：係指以會員帳號購買本公司任何付費商品或服務之人；付款人可為使用者本人、其法定代理人，或與使用者相互經合法授權的第三人。</p></li>
			<li><p>內容：係指遊戲、資訊、通訊、商品、文字、照片、錄影、圖片、音樂、錄音及／或其他由會員透過 Conkwe 服務所提供的項目。</p></li>
			<li><p>內容提供者：係指提供內容之會員。</p></li>
			<li><p>Conkwe 服務：係指本公司透過網際網路，向使用者所提供包含免費或付費內容及其他相繼開發之服務（實際服務項目以本公司網站公告為準）。</p></li>
			<li><p>服務期間：係指使用者按其所選擇使用服務的內容及/或付費方式，所得使用之期間。</p></li>
		</ul>
	</li>
	
	<li>
		<p>使用者責任與義務</p>
		<p>本公司授權您使用 Conkwe 服務，但您必須確實遵守本條款及服務之附加條款，如有任何違反情形，經本公司察覺後，可不經通知逕行暫停或終止您使用 Conkwe 服務的權利。</p>
		<ul>
			<li><p>您在使用 Conkwe 服務時，可在本公司網站中傳送、發表或上傳內容，包含但不限於文字、圖片、照片、連結、影像等。您保證您所提供的內容均為自己原創、未侵害他人智慧財產權或已取得合法授權，並對您所傳送、發表或上傳的內容所產生的後果負責。</p></li>
			<li><p>如您在本公司網站傳送、發表或上傳內容，包含但不限於文字、圖片、照片、連結、影像等，您同意授予本公司非獨家、無償、全球性之權利得以自由使用該內容之全部或一部，包含編輯、展示、出版、發行、公開傳輸等方式。若您刪除所提供之內容，而此內容已經公開或分享，如有任何第三人未刪除此內容，本公司及第三人仍得依上述授權方式使用該內容。</p></li>
			<li><p>若本公司接獲您所傳送、發表或上傳之內容侵犯他人的智慧財產權之檢舉後，本公司有權刪除該內容。本公司保留未事先通知而刪除內容的權利。</p></li>
			<li><p>Conkwe 服務僅限個人使用；如使用者未向內容提供者取得授權而於公開場合或以其他公開方式利用 Conkwe 服務，用於公開播送、公開演出者，由該使用者自負相關法律責任。</p></li>
			<li><p>您在使用 Conkwe 服務時，應遵守網路禮儀及相關法令之規範，並不得為以下行為：</p>
				<ol>
					<li><p>進行傳送、發表涉及辱罵、誹謗、騷擾、霸凌、侵害他人名譽、不雅、色情、暴力、攻擊性，或其他違反法律或公序良俗之內容；</p></li>
					<li><p>傳送或發表非法資訊連結，包含但不限於盜版軟體、非法檔案下載、販賣槍枝、毒品、禁藥、虛假不實、引人犯罪或其他違禁資訊，以及惡作劇內容或電腦病毒等；</p></li>
					<li><p>惡意灌水、發表大量重複的留言、發表擾亂和諧秩序之言論，或濫用檢舉管道；</p></li>
					<!-- <li><p>傳送或發表侵害他人享有商標權、著作權、專利權等智慧財產權或其他權利之內容或任何形式之檔案；</p></li> -->
					<li><p>未經當事人同意，公布該當事人之個人資料（包含但不限於真實姓名、電話、住址資料等）或隱私資訊；</p></li>
					<li><p>阻止或妨礙其他使用者享受 Conkwe 服務、藉 Conkwe 服務而散播病毒或其他足以損害他人電腦運作之程式；</p></li>
					<li><p>提出虛偽檢舉或異議；或其他本公司判斷屬於違反本條款的行為。</p></li>
				</ol>
			</li>
			<li>
				<p>提供真實資料義務</p>
				<p>如您選擇註冊成為會員，您同意於註冊時填寫您正確、完整且符合真實之個人資料。您所登錄之資料若事後有所變更時，可隨時於線上更新。若您所填寫的個人資料不符合真實，或原填寫之資料已不符合真實而未更新，或有任何誤導之嫌，本公司擁有隨時暫停或終止您會員資格及使用 Conkwe 服務之權利。如您提供資料為非本人或錯誤資訊，致本公司無法聯繫或造成第三人權益之損害時，您將自負相關法律及／或損害賠償責任。</p>
			</li>
			<li>
				<p>會員帳號保管義務：</p>
				<ol>
					<li><p>您的會員帳號僅限本人使用，並僅得依本條款使用 Conkwe 服務及內容，不得非法重製、散布、販賣、公開傳輸或以其他方式給其他第三人使用。</p></li>
					<li><p>您有義務妥善保管會員帳號、密碼及其他相關資訊，並為此會員帳號登入系統後所進行之一切活動、行為負責，包括且不限於衍生之相關費用。</p></li>
					<li><p>若您發現會員帳號內個人資料遭他人非法使用或有任何異常使用之情形時，應立即通知本公司，並請您循適當法律途徑保護個人權益；必要時，本公司會請您提供相關個人資料，並有權管理該爭議帳戶之使用權限。</p></li>
					<li><p>如因您的保管疏忽或同意由第三人使用您的會員帳號，導致該帳號、密碼遭他人非法使用，並造成本公司或他人權益損害時，您需自行負責相關法律及／或損害賠償責任。</p></li>
				</ol>
			</li>
			<li><p>本公司得採取任何必要的手段，防止您以本公司相關條款或法令所禁止的方式使用服務。</p></li>
		</ul>
	</li>
	
	<li>
		<p>隱私權與個人資料保護政策</p>
		<p>為保護您的權益，請注意以下個人保護措施，可避免個人利益受到損失，更多相關內容請詳細閱讀本公司＜<a href="/policy/privacy">隱私權政策</a>＞：</p>
		<ul>
			<li><p>請勿任意與陌生網友交換個人資料或隱私資訊。</p></li>
			<li><p>請盡量不使用公開場所中的公共使用電腦或與他人共用電腦；如您必須使用，切記於使用後登出您的帳號並刪除您的個人資料。</p></li>
		</ul>
	</li>
	<li>
		<p>智慧財產權</p>
		<ul>
			<li><p>本公司所提供的 Conkwe 服務、內容、文字檔及任何編碼的智慧財產權皆屬於本公司或內容提供者所有。本公司僅授權您使用的權利；為免爭議，本公司未於本條款中明確授予您的權利，均由本公司保留。</p></li>
			<li><p>本公司之 Conkwe 服務、內容及技術受各授權地區相關法令保護，您不得移除或變更 Conkwe 服務及內容中所包含的任何著作權權利電子管理資訊、防盜拷措施或其它權利（包括且不限於專利權、商標權）的標記。</p></li>
		</ul>
	</li>
	
</ol>

<!-- <h4>二、付費服務</h4><br/>

<h4>三、社群服務</h4><br/>

<h4>四、檢舉與異議</h4><br/>

<h4>五、其他條款</h4><br/> -->

<br/>
<p class="highlight">本公司可隨時修改、暫停或終止依據本條款提供之特定服務的使用權限。</p>
</div>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "policy" %>
<% end -%>