
<h3><%= @work.subject %></h3>
<% if @work.attach_avatars.present? %>
	<div class="row">
	<% @work.attach_avatars.each do |file| %>
		<div class="col-md-4">
			<%= image_tag file.url, style: "width: 100%;" %>
		</div>
	<% end %>
	</div>
<% end %>
<br/>
<br/>
<div class="container">
	<%= sanitize @work.content %>
</div>
<%= link_to '回上頁', :back  %>