<div class="row">
  <div class='col-sm-6 col-xs-12'>
    <%= render 'show' %>
  </div>
  <div class='col-sm-3 col-xs-12'>
    <% if false %>
      <div class="text-center">
        <%= link_to '贊助', new_work_donate_path(@work), class: 'btn btn-danger' if current_user != @work.user %>
        <% if @work.donates.present? %>
          <h2>贊助列表</h2>
          <ul>
            <% @work.donates.each do |x| %>
              <li><%= t("donate.#{x.kind}") %></li>
            <% end -%>
          </ul>
        <% end -%>
      </div>
    <% end %>
  </div>
</div>