<h3 class="text-center">最新作品</h3>
<div class="row">
  <%= render partial: 'account/works/work_index', collection: @works, as: :w || '沒有資料哦！' %>
</div>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "works" %>
<% end -%>