<html>
  <head>
    <style>
    </style>
  </head>
  <body>
		<h3><%= @user.nickname %> 你好！</h3>
		<p>您關注Conkwe的動態有以下的訊息：</p>
		<% @works.each do |w| %>
			<%= user_info_work_url(w.user, w) %>
		<% end %>

		<p>工作上有任何新進展嗎？跟我們分享一下吧。</p>

		<p>Conkwe自由工作者平台敬上。</p> 
		
  </body>
</html>
