.heading-line {
  height: 3px;
  width: 100px;
  background: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}
.about-me .my-pic, .about-me .introduction {
 margin-bottom: 20px;
}
.my-pic img {
  border-radius: 50%;
  border: 2px solid #dedede;
  background: #fff;
  padding: 7px;
  box-shadow: 0 7px 10px #999;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.about-me .introduction p {
  color: #555;
  font-weight: 300;
  margin: 0 auto;
}
.about-me .introduction p.introduce {font-weight: bolder;text-transform: uppercase;}
.about-me .introduction p.intro {margin-top: 20px;}
.about-me .personal-wrapper {
  display: flex;
  flex-direction: column;
}
.about-me h3 {
  font-size: 1.3rem;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #333;
  font-weight: bolder;
}
.about-me .profile {
  margin-bottom: 30px;
}
.about-me .personal-wrapper span {
  margin: 5px 0 10px;
  text-transform: uppercase;
  color: #555;
}
.about-me .personal-wrapper strong {
  display: block;
  color: #333;
  margin-bottom: 5px;
}
.about-me .why-me {margin-bottom: 40px;}
.about-me .why-me .accordion {
  text-align: left;
  line-height: 1.8;
}
.about-me .why-me .accordion .acc-item .acc-title {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  position: relative;
  border: 1px solid #ccc;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.about-me .why-me .accordion .acc-item .acc-title i {
  position: absolute;
  right: 20px;
  color: #181818;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.about-me .why-me .accordion .acc-item .acc-title.active {
  background: #181818;
  color: #fff;
  border-color: #181818;
}
.about-me .why-me .accordion .acc-item .acc-title.active i {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #fff;
}
.about-me .why-me .accordion .acc-item .acc-content {
  padding: 10px;
  margin: 0;
  letter-spacing: 1.3px;
  color: #555;
  background: #f4f4f4;
  display: none;
}

.about-me .why-me .accordion .acc-item .acc-content-show {
  padding: 10px;
  margin: 0;
  letter-spacing: 1.3px;
  color: #555;
  background: #f4f4f4;
}

.about-me .about-me-link, .about-me .about-me-link:hover{
  color: inherit;
  text-decoration: none;
}

/*上一篇/下一篇*/

.page_arr_s{display:none; top:38%;  width: 90px; z-index:99;}
.page_arr_s p{ text-align:center; color:#515050; font-size:14px;}
.page_arr_s a{ width:100%; color:#515050; display:block; padding-top:90px; opacity:.6; -moz-opacity:.6; filter:alpha(opacity=60); -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; -o-transition:all .5s ease-in-out; -ms-transition:all .5s ease-in-out;}
.page_arr_s a:hover{ text-decoration:none;opacity:1; -moz-opacity:1; filter:alpha(opacity=100); -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; -o-transition:all .5s ease-in-out; -ms-transition:all .5s ease-in-out;}

.page_arr{ display:inline-block;top:38%;  width: 90px; z-index:99;}
.page_arr p{ text-align:center; color:#515050; font-size:14px;}
.page_arr a{ width:100%; color:#515050; display:block; padding-top:90px; opacity:.6; -moz-opacity:.6; filter:alpha(opacity=60); -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; -o-transition:all .5s ease-in-out; -ms-transition:all .5s ease-in-out;}
.page_arr a:hover{ text-decoration:none;opacity:1; -moz-opacity:1; filter:alpha(opacity=100); -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; -o-transition:all .5s ease-in-out; -ms-transition:all .5s ease-in-out;}

.page_arr-l{ left:5%;}
.page_arr-l a{ background:url(/images/page_arrow_L.png) 0 0 no-repeat; background-size:200%;}
.page_arr-r{ right:5%;}
.page_arr-r a{ background:url(/images/page_arrow_L.png) top right no-repeat; background-size:200%;}

@media (max-width: 1024px){.page_arr_s{ display:inline-block;}.page_arr{ display: none; }}