@charset "utf-8";
/* CSS Document */s
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote { margin:0;	padding:0;}
fieldset, img {	border:0;}
ol, ul {list-style:none;}
abbr, acronym { border:0;}
.CLEAR{ clear:both; height: 0; font-size: 0px; line-height: 0;}
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden;	line-height: 0;	height: 0;}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

blockquote, q { quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;}

* {-webkit-text-size-adjust:none;}

a{text-decoration:none;}
em{/*font-style:normal;*/}
fieldset, img {	border:0;}
ol, ul { list-style:none;}
abbr, acronym {	border:0;}
.CLEAR{	clear:both; height: 0; font-size: 0px; line-height: 0;}

/**
 * Markup free clearing
 * Details: http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;}
/* IE6 */
* html .clearfix {height: 1%;}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;}

body, h1, h2, h3, h4, h5, h6, p { font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; font-weight: normal; color: #333;}
p{ font-size:16px;}
a{  text-decoration:none; outline: none; /* for Firefox */  hlbr:expression(this.onFocus=this.blur()); 
transition:width 2s;
-moz-transition:all 2s; /* Firefox 4 */
-ms-transition: all 1s;  
-webkit-transition:all 2s; /* Safari and Chrome */
-o-transition:all 2s; /* Opera */}
a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;
transition:all 1s;
-moz-transition:all 1s; /* Firefox 4 */
-ms-transition: all 1s;  
-webkit-transition:all 1s; /* Safari and Chrome */
-o-transition:all 1s; /* Opera */}
*:link, *:visited, *:not([class*="modal"]):hover, *:active, *:focus , * {border: none;outline: none; hlbr:expression(this.onFocus=this.blur()); /* for IE */}
 
@media screen and ( max-width:750px) {}

/*--go--*/

.UserDataBox{ width: 100%; background-color: #fafafa;}
.UserDataBox .ContentsBox{ width: 95%; max-width: 1170px; margin: 0 auto; padding: 70px 0 60px 0;}

/*leftBox*/
.UserDataBox .leftBox{ float: left; width: 100%; max-width: 230px; }
.UserDataBox .leftBox .fixBox{ /*position: fixed;*/  z-index: 10; top: 40px;}
.UserDataBox .leftBox .userBox { /*background-color: #fff; box-shadow: 0px 0px 10px rgba(155,155,155,.3) ;*/ width: 100%;  padding: 20px 20px 20px 20px; border-radius: 6px;position: relative;}
.UserDataBox .leftBox .userBox .photo{ width: 140px; height: 140px; display: block; overflow: hidden; background-color: #dfdada; border-radius: 150px; border:5px solid #fff; margin: 0 auto; box-shadow: 0px 0px 10px rgba(155,155,155,.5);}
.UserDataBox .leftBox .userBox a.contact_me{ cursor: pointer; position: absolute; right: 35px; top: 126px; width: 45px; height: 45px; border-radius: 45px; display: block; background: url(/images/personal_page/icon_contact.png) center center no-repeat #303030; background-size: contain;}
.UserDataBox .leftBox .userBox a.contact_me:hover{ background-color: #00a148; }

.UserDataBox .leftBox .userBox p.user_name{ text-align: center; padding: 15px 0; }
.UserDataBox .leftBox .userBox p.online{ text-align: center; font-size: 13px; color: #838383; padding-bottom: 20px;}
.UserDataBox .leftBox .userBox p.online span.green{ color: #00a148; }

.UserDataBox .leftBox .userBox ul.user_info{ width: 100%;  border: 1px solid #d8d8d8; border-width:1px 0 1px 0;  padding: 10px 0; text-align: center;}
.UserDataBox .leftBox .userBox ul.user_info li { display: inline-block; width: initial;}
.UserDataBox .leftBox .userBox ul.user_info li p{color: #333; font-size: 14px; font-weight: bold;}
.UserDataBox .leftBox .userBox ul.user_info li p a{ color: #333;}
.UserDataBox .leftBox .userBox ul.user_info li p a:hover{text-decoration: underline;}

.UserDataBox .leftBox .userBox ul.skill_list{ width: 100%; text-align: center; padding-top: 20px;}
.UserDataBox .leftBox .userBox ul.skill_list li{ display: inline-block; width: initial; padding:6px 2px;  }
.UserDataBox .leftBox .userBox ul.skill_list li p{font-size: 13px; text-align: center; /*font-weight: bold;*/}
.UserDataBox .leftBox .userBox ul.skill_list li p a{ color: #888; padding: 3px 15px ; display: block; border:1px solid #888; border-radius: 30px; }
.UserDataBox .leftBox .userBox ul.skill_list li p a:hover{background-color: #333; color: #fff;}

.UserDataBox .rightBox p.user_next{ text-align: center; padding: 15px 0; font-size: 13px; color: #a9a9a9;}
.UserDataBox .rightBox p.user_next a{ color: #333; padding: 0 18px; }
.UserDataBox .rightBox p.user_next a:hover{ text-decoration: underline; }
.UserDataBox .rightBox p.user_next a.prev{ background: url(/images/personal_page/arr_left.png) left center no-repeat; background-size: contain; padding-left: 20px; }
.UserDataBox .rightBox p.user_next a.next{ background: url(/images/personal_page/arr_right.png) right center no-repeat; background-size: contain; padding-right: 20px; }

/*rightBox*/
.UserDataBox .rightBox{ float: right; width: 100%; max-width: 880px;}
.UserDataBox .WorksList{ width: 100%; }
.UserDataBox .WorksList .abox{ width: 100%; padding-bottom: 20px; }
.UserDataBox .WorksList .abox .topTitle{ position: relative; min-height: 36px;}
.UserDataBox .WorksList .abox .topTitle::before{ position: absolute; content: ""; width: 100%; height: 1px; display: block; left: 0; top:50%; background-color: #dbdbdb; }
.UserDataBox .WorksList .abox .topTitle h3{ font-weight: bold; color: #333; position:absolute; left: 0; line-height: 30px; padding: 3px 0; background-color: #fafafa; padding-right: 20px; }

.UserDataBox .WorksList .abox .work_information{ padding: 15px 0; min-height: 50px; margin-bottom: 15px;}
.UserDataBox .WorksList .abox .work_information p{ font-size: 15px; color: #666; line-height: 28px; text-align: justify;}
.UserDataBox .WorksList .abox .work_information p a{ color: #449dd5;}
.UserDataBox .WorksList .abox .work_information p a:hover{text-decoration: underline;}
.UserDataBox .WorksList .abox .work_information p.addWorks{ width:calc(100% - 15px); font-size: 14px; padding-bottom:20px; }
.UserDataBox .WorksList .abox .work_information p.addWorks a{ cursor: pointer; color: #8e8e8e; }
.UserDataBox .WorksList .abox .work_information p.addWorks a:hover{text-decoration: underline;}

.UserDataBox .WorksList .abox .show_more{ font-size: 13px; }
.UserDataBox .WorksList .abox .show_more a{color: #93bad3; text-decoration: underline; }
.UserDataBox .WorksList .abox .show_more a:hover{ text-decoration: none; }
.UserDataBox .WorksList .abox .lessBox{ max-height: 95px; display: block; overflow: hidden; }
.UserDataBox .WorksList .abox .show_moreBox{ max-height: inherit;overflow: inherit; }

.UserDataBox .WorksList ul.designerWorksList{ width: 100%; }
.UserDataBox .WorksList ul.designerWorksList li{ display: inline-block; float: left; width: 25%; padding:0 1%; padding-bottom: 12px;}
.UserDataBox .WorksList ul.designerWorksList li .photoBox{ display: block; width: 100%; position: relative; }
.UserDataBox .WorksList ul.designerWorksList li .photoBox a.photogo{ display: block; width: 100%; height: 100%; font-size: 1.1vw; line-height: 150%; min-height: 202px; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center}
/*.UserDataBox .WorksList ul.designerWorksList li .photoBox:hover{opacity: .9;}*/
.UserDataBox .WorksList ul.designerWorksList li .photoBox p.onThePhoto{ font-size: inherit; text-align: center; max-width: 90%;}
.UserDataBox .WorksList ul.designerWorksList li .photoBox a.look_competence{ cursor: pointer; position: absolute; width:1.2vw; height:1.2vw; top: 5px; right: 5px; background-color: #000;  background:url(/images/personal_page/icon_lock.png); background-size: contain;}
.UserDataBox .WorksList ul.designerWorksList li .photoBox a.look_open{ background:url(/images/personal_page/icon_open.png); background-size: contain; }

/* add by kino */
.UserDataBox .WorksList ul.designerWorksList li .photoBox a{   
  -moz-transition:all .4s; /* Firefox 4 */
  -ms-transition: all .4s;  
  -webkit-transition:all .4s; /* Safari and Chrome */
  -o-transition:all .4s; /* Opera */
}
.UserDataBox .WorksList ul.designerWorksList li .photoBox img{ display: block; margin: 0 auto; width: 100%; position: absolute; }
.UserDataBox .WorksList ul.designerWorksList li .photoBox a.photogo{ overflow: hidden; position: relative; z-index: 2; }
.UserDataBox .WorksList ul.designerWorksList li .photoBox > p{ z-index: 1; position: absolute; top: 8%; left: 10%; right: 10%;}
.UserDataBox .WorksList ul.designerWorksList li .photoBox:hover a.photogo{opacity: .15;}
.UserDataBox .WorksList ul.designerWorksList li .photoBox:hover > p{ z-index: 3; }


.UserDataBox .WorksList ul.designerWorksList li .the_tools{ width: 100%; padding: 2px 0; min-height: 23px;}
.UserDataBox .WorksList ul.designerWorksList li .the_tools p{ float: right; font-size: 12px; line-height: 19px;}
.UserDataBox .WorksList ul.designerWorksList li .the_tools p a{ line-height: 19px;  padding-left:25px; color: #b2b1b1; display: block; margin-left: 10px;}
.UserDataBox .WorksList ul.designerWorksList li .the_tools p.link{ float: left; width: 1.2vw; height: 1.2vw; background: url(/images/personal_page/icon_tools_link.png) left center no-repeat; background-size: contain; }
.UserDataBox .WorksList ul.designerWorksList li .the_tools p.like a{ cursor: pointer; background: url(/images/personal_page/icon_tools_like.png) left center no-repeat; background-size: contain; }
.UserDataBox .WorksList ul.designerWorksList li .the_tools p.like a.like_in{ background-image: url(/images/personal_page/icon_tools_like_in.png)}
.UserDataBox .WorksList ul.designerWorksList li .the_tools p.dialog a{ cursor: pointer; background: url(/images/personal_page/icon_tools_dialog.png) left center no-repeat; background-size: contain; }
.UserDataBox .WorksList ul.designerWorksList li .the_tools p.eyes a{  padding-left:29px; background: url(/images/personal_page/icon_tools_eyes.png) left center no-repeat; background-size: contain; }

@media (max-width:1180px){.UserDataBox .rightBox{ width: 70% ;width:-moz-calc(100% - 250px); width:-webkit-calc(100% - 250px); width: calc(100% - 250px);}}
@media (max-width:1180px){.UserDataBox .WorksList ul.designerWorksList li{ width: 31.33%;}}
@media (max-width:1100px){.UserDataBox .WorksList ul.designerWorksList li .photoBox a.photogo{font-size: 1.6vw;}}
@media (max-width:900px){.UserDataBox .WorksList ul.designerWorksList li{ width: 48%;}
  .UserDataBox .WorksList ul.designerWorksList li .photoBox a.photogo{font-size: 2vw;}}
@media (max-width:800px){.UserDataBox .WorksList ul.designerWorksList li .photoBox a.photogo{font-size: 2.5vw;}}
@media (max-width:750px){.UserDataBox .leftBox, .UserDataBox .rightBox{ width: 100%; max-width: 95%; float: none; margin: 0 auto; }
  .UserDataBox .leftBox .fixBox{ max-width: inherit; }
  .UserDataBox .leftBox .userBox a.contact_me{ right: 50%; margin-right: -80px; }}
@media (max-width:499px){.UserDataBox .WorksList ul.designerWorksList li .the_tools p{font-size: 11px;}
  .UserDataBox .WorksList ul.designerWorksList li .the_tools p a{ line-height: 14px; padding-top: 3px; padding-left: 25px; margin-left: 6px;}}

/*--2017/06/05-- 新增*/
.classificationBox .ContentsBox{ padding: 30px 0 40px 0;}
.classificationBox .work_information { position: relative; padding: 0;}
.classificationBox .WorksList ul.designerWorksList li{ width: 20%; margin-bottom: 20px;}
.classificationBox .WorksList ul.designerWorksList li a.userID{ width: 100%; display: block; min-height: 22px;}
.classificationBox .WorksList ul.designerWorksList li a.userID img{ width: 18px; height: 18px; float: left; margin-right: 5px; border-radius: 20px; display: block; overflow: hidden; }
.classificationBox .WorksList ul.designerWorksList li a.userID p{ float: left;  font-size: 13px; line-height: 18px; color: #449dd5;  }
.classificationBox .WorksList ul.designerWorksList li .photoBox a.photogo{min-height: 210.6px;}

.classificationBox .topBanner{ width: 100%; min-height: 170px; margin-top: 50px; background-color: #000; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center}
.classificationBox .topBanner h2{ font-size: 22px; color: #fff; text-align: center; font-weight: bold; text-shadow: 0 0 10px rgba(0,0,0,.3); letter-spacing: 5px; }
.classificationBox .br_banner_01{ background: url(/images/personal_page/top_banner.jpg) center center no-repeat; background-size: cover; }

.classificationBox ul.works_time{ width: 100%; text-align: center; padding-bottom: 30px;}
.classificationBox ul.works_time li{ display: inline-block; width: initial; margin: 0 10px;}
.classificationBox ul.works_time li p{ text-align: center; position: relative; color:#333; }
.classificationBox ul.works_time li p a{ color: #888;  padding:6px 0; display:block; }
.classificationBox ul.works_time li p.btn_in a{color: #555; font-weight: bold;}
.classificationBox ul.works_time li p.btn_in::after{ position: absolute; bottom: -5px; left: 50%; margin-left: -25px; content: ""; width: 50px; height: 2px; display: block; background-color:#555;  }

.classificationBox .WorksList .abox .work_information p.addWorks{ position: absolute; font-size: 13px; right: 20px; top: 24px; width: inherit; }

.classificationBox .left_worktype{ position: absolute; left: 0; top: 24px; }
.classificationBox .left_worktype p{text-align:left; font-size: 13px;}
.classificationBox .left_worktype p span{ cursor: pointer; color: #fff; border-radius: 30px; padding: 5px 18px; padding-right: 30px; background: url(/images/personal_page/arr_w.png) center right no-repeat #333; background-size: contain; }
.classificationBox .choose_type{ position: relative; }

.classificationBox .left_worktype ul.worktypeBox{ width:300px; position: absolute; left: 0; top: 30px; padding:5px 15px; background-color: #fff; z-index: 5; border-radius: 4px; box-shadow: 0 0 10px rgba(0,0,0,.3);}
.classificationBox .left_worktype ul.worktypeBox li{ display: block; float: left; margin: 15px 10px ;}
.classificationBox .left_worktype ul.worktypeBox li { position: relative;}
.classificationBox .left_worktype ul.worktypeBox li p a{ color: #888; }
.classificationBox .left_worktype ul.worktypeBox li p.btn_in a{color: #555; font-weight: bold;}
.classificationBox .left_worktype ul.worktypeBox li p.btn_in::after{ position: absolute; bottom: -10px; left: 50%; margin-left: -15px; content: ""; width: 30px; height: 1px; display: block; background-color:#555;  }

@media (max-width:1180px){.classificationBox .WorksList ul.designerWorksList li{ width: 23%;}}
@media (max-width:900px){.classificationBox .WorksList ul.designerWorksList li{ width: 31.33%;}}
@media (max-width:750px){.classificationBox .WorksList ul.designerWorksList li{ width: 48%;}}
@media (max-width:750px){ .classificationBox .left_worktype{ position: inherit; top: inherit; left: inherit; padding-bottom:30px;}
  .classificationBox .left_worktype ul.worktypeBox{ left: 50%; margin-left: -150px;}
  .classificationBox .WorksList .abox .work_information p.addWorks{ position: inherit; top: inherit; right: 10px; padding-bottom:8px; text-align: right; }
  .classificationBox .left_worktype p{ text-align: center; }
  .classificationBox .WorksList ul.designerWorksList li .photoBox a.photogo{min-height: 140px;}

  }
/*--2017/06/05-- 新增 END*/

.UserDataBox .WorksList ul.designerWorksList div.cog{ position: absolute; right: 5%; top: 5%; z-index: 5; }
.UserDataBox .WorksList ul.designerWorksList div.cog .dropdown-menu > li{width: 100%; padding:5px 0; margin: 0; }
.UserDataBox .WorksList ul.designerWorksList div.cog .dropdown-menu > li.divider{ padding: 0px;  }

