// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well h4{
	margin-bottom: 0px;
}
.well p{
	margin-bottom: 10px;
}
.well ol,.well ul{
	padding-left: 30px;
}
.well ol{
	list-style: decimal outside;
}
.well ol > li{
	margin-bottom: 10px;
}
.well ul{
	list-style: lower-alpha outside;
}
.well ul > li{
	margin-bottom: 10px;
}
.well ul ol{
	list-style: upper-roman outside;
}
p.highlight{
	font-size: 1.1em;
	font-weight: bold;
}