<% if object.errors.any? %>
  <div id="error_explanation" class="alert fade in alert-warning">
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
