
<script type="text/javascript">

</script>
<%= stylesheet_link_tag 'footer' %>
<footer style="display:none">
<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - <%= Setting.app_name %> All Rights reserves.</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="/welcome">關於 Conkwe</a></li>
        <li><a href="/policy/privacy">隱私權政策</a></li>
        <li><a href="/policy/terms">會員使用條款</a></li>
        <li><a href="https://www.facebook.com/groups/362408260811200">FB討論區</a></li>
        <li><a href="https://www.facebook.com/ConKweMatch">支持 Conkwe</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>
<script type="text/javascript">
 $(function(){
  if(window.innerHeight - 42 > document.body.clientHeight){
    window.conkweFixFooter = true;
  }
  if(window.conkweFixFooter){
    // var f = document.querySelector("footer");
    var databox = document.querySelector(".UserDataBox");
    var nav = document.querySelector('div.navbar');
    var strNewHeight = "height:" + (window.innerHeight - 42 - (nav? nav.offsetHeight : 0)) + "px;";
    // f.className = "footer-fixed";
    if(databox) databox.style.cssText = strNewHeight;
    else{
      var containers = document.querySelectorAll('.container');
      for(var i = 0, len = containers.length; i < len; i++){
        if(containers[i].parentNode == document.body){
          containers[i].style.cssText = strNewHeight;
          break;
        }
      }
    }
  }
  $('footer').show()
  })
</script>
