<% content_for :content do %>
  <div class="about-me clearfix" id="about-me">
    <div class="container">
      <div class="row">
        <div class='col-sm-3 col-xs-12'>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">個人設定</h3>
            </div>
            <%= render_list :class => "nav nav-pills nav-stacked panel-body" do |div|
              div << link_to("修改個人狀態", edit_status_account_user_infos_path)
              div << link_to("修改個人頁", edit_info_account_user_infos_path)
              div << link_to("設定顯示名稱","/users/edit" )
              div << link_to("修改密碼","/users/edit_password" )
            end %>
          </div>
          <% if false %>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">個人資訊</h3>
            </div>
            <%= render_list :class => "nav nav-pills nav-stacked panel-body" do |div|
              div << link_to("個人收入", account_donates_bedonor_path)
              div << link_to("個人支出", account_donates_donor_path)
            end %>
          </div>
          <% end %>
        </div>
        <div class='col-sm-9 col-xs-12'>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end -%>
<%= render template: "layouts/application" %>